body{
    font-family: Arial, Helvetica, sans-serif;
}

.sandbag{
    height: 400px;
    width: 250px;
}

header{
    text-align: center;
    color: red;
}

main{
    
    width: 100%;
    text-align: center;
}