body{
    font-family: myFirstFont;
    background-image: url(bricks.jpg);
}

.punches-text{
    font-size: 2em;
}

@font-face {
    font-family: myFirstFont;
    src: url(fonts/28days.ttf);
  }

.sandbag{
    height: 400px;
    width: 250px;
}

header{
    text-align: center;
    
}

main{
    
    width: 100%;
    text-align: center;
}