body{
    font-family: '28days';
    background-image: url(bricks.jpg);
}

.punches-text{
    font-size: 1.5em;
}

@font-face {
    font-family: '28days';
    src: url(fonts/28days.ttf);
  }

.sandbag{
    
    height: 700px;
    width: 700px;
} 

.interface{
    padding-left: 10%;
    
}

.game{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

header{
    text-align: center;
    font-size: 2em;
    margin: 0;
}

h1{
    margin: 0;
}

main{
    
    width: 100%;
    text-align: center;
}

.shop{
    text-align: left;
    font-size: 2em;
}

button{
    font-family: '28days';
    background-image: url(bricks3.jpg);
    font-size: 1.3em;
    outline: none;
}

button:hover{
    cursor: pointer;
    color: #7B0202;
    
}